*{
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.section{
    position: relative;
    margin-left: 510px;
    margin-top: 220px;
    margin-bottom: 220px;
    margin-right: 250px;
}

h2{
    font-size: 30px;
}

button{
    background-color: #088178;
    color: #fff;
    border-radius: 4px 4px;
    margin: 2px;
    padding: 5px;
}

form{
    margin: 8px;
}

input{
    padding: 5px;
}